/*----------------- Section 1 --------------*/
.service{
    background: linear-gradient(90deg, rgba(13, 66, 61, 0.9) -22.84%, rgba(12, 199, 181, 0.9) 138.88%);
    color: white;
    width: 650px;
    height: 450px;
    margin-top: auto;
}
.service p{
    padding: 20% 10%;
}


#section1 .mascotte{
    margin-top: -45px;
}
.mascotte img{
    height: 550px;
}


/*----------------- Section 2 ---------------------*/

.formation{
    background-color: #009688;
    /* height: 530px; */
    color: white;
    border: 1px solid #009688;
    border-radius: 22px;
}

.formation2{
    border: 1px solid #009688;
    border-radius: 22px;
}

#section2 ul li{
    display: flex;
    margin-bottom: 30px;
}

#section2 h6{
    margin: 16px 16px;
}

#section2 .formation2{
    padding: 4% 5%;
}

.voir_plus{
    margin: 8% 37% 0 37%;
}


/*------------------- Section 3 ---------------*/

#section3 .bloc1{
    padding: 3%;
    border: 1px solid #F44336;
    border-radius: 16px;
    color: #F44336;
    width: 24%;
}

#section3 .bloc2{
    padding: 3%;
    border: 1px solid #009688;
    border-radius: 16px;
    color: #009688;
    width: 24%;
}
#section3 .bloc3{
    padding: 3%;
    border: 1px solid #FF9800;
    border-radius: 16px;
    color: #FF9800;
    width: 24%;
}
#section3 .bloc4{
    padding: 3%;
    border: 1px solid #009688;
    border-radius: 16px;
    color: #009688;
    width: 24%;
}

.bloc1 h5,
.bloc2 h5,
.bloc3 h5,
.bloc4 h5 {
    margin-top: 10%;
}

#section3 .cours{
    justify-content: space-between;
}

/*------------------------ Section 4 ------------------------*/

#section4{
    background-color: #F44336;
    color: white;
    margin-top: 5%;
    padding-bottom: 1%;
}

#section4 h3{
    padding: 3% 0;
}


#section4 ul{
    list-style: none;
    padding: 0;
}

#section4 ul li{
    display: flex;
    margin-bottom: 3%;
}

#section4 span{
    font-weight: bold;
}

#section4 ul img{
    width: 43px;
    height: 43px;
    margin-right: 2%;
}

/* Vague */

.vague img{
    width: 100%;

}


/*---------------------- Section 5 -------------------*/

#section5 button{
    margin: 0 45%;
}

/*---------------------- Section 6 -------------------*/

#section6{
    background-color: #F44336;
    color: white;
    padding-bottom: 5%;
}

#section6 .image{
    width: 100%;
}

#section6 .image1,
#section6 .image2{
    height: 180px;
}

#section6 .break_line{
    margin-bottom: 7%;
}


/*---------------------- Section 7 -------------------*/


#section7{
    padding: 0;
}


#section7 .contenu{
    background-color: #EEF9F8E5;
    margin: 0;
    padding-bottom: 4%;
}

#section7 .sous_contenu{
    padding: 3% 0;
}

#section7 .partner{
    background-color: white;
    border: 1px solid white;
    border-radius: 7px;
    text-align: center;
    width: 15%;
    box-shadow: 1px 1px 3px 0px gray;
}

#section7 .part1{
    margin-top: 10%;
}

#section7 .part2{
    margin-left: -9%;
}

#section7 .part3{
    margin-top: 15%;
}

#section7 .part4{
    margin-top: 25%;
}

#section7 .part5{
    margin-left: -25%;
}

#section7 .part6{
    margin-top: 16%;
}

#section7 button{
    margin: 2% 45%;
}

/*-------------------------- Footer ---------------------------*/

footer{
    padding-top: 5%;
    color: white;
}

footer .pied{
    background-color: #009688;
    padding: 2% 0;
}

footer ul{
    list-style: none;
}

footer img{
    margin-right: 5%;
    margin-top: 4%;
}

footer p {
    text-align: end;
}